BEXIO_CLIENT_ID=hier_die_bexio_client_id_eintragen
BEXIO_CLIENT_SECRET=hier_das_bexio_client_secret_eintragen
BEXIO_REDIRECT_URI=https://awwpowwmzlnyypsirawj.supabase.co/functions/v1/bexio-oauth-callback
BEXIO_ACCESS_TOKEN=wird_nach_oauth_callback_angezeigt
BEXIO_REFRESH_TOKEN=wird_nach_oauth_callback_angezeigt
BEXIO_TOKEN_EXPIRES_IN=wird_nach_oauth_callback_angezeigt
BEXIO_API_TOKEN=optional_fallback_falls_bexio_token_verfügbar
BEXIO_DEFAULT_COUNTRY_ID=1
